
$light 		: #fff;
$med 		: #555555;
$dark 		: #020202;
$turq 		: #006a72;
$green 		: #5c8728;
$darkturq 	: #64a5ab;
$aqua 		: #31878f;
$lightturq 	: #9ec3c8;
$gray 		: #ccc;
$transturq	: rgba(100, 165, 171, 0.85);

$bp__menu_button: 600px;
$bp__tablet		: 768px;
$bp__laptop		: 1028px;